.form-container {
    background-color: #f7f7f7;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    width: 600px;
    padding: 30px;
  }
  input:required:invalid {
    border-color: red;
  }
  
  input:required:valid {
    border-color: green;
  }
  
  h2 {
    margin-bottom: 30px;
    text-align: center;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 25px;
    position: relative;
  }
  
  .form-group input,
  .form-group textarea {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 18px;
    height: 50px;
    padding: 5px 0;
    width: 100%;
    color: #333;
  }
  
  .form-group input:focus,
  .form-group textarea:focus {
    outline: none;
    border-color: #666;
  }
  
  .form-group label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 5px;
    transition: all 0.2s ease-in-out;
  }
  
  .form-group input:focus ~ label,
  .form-group input:not(:placeholder-shown) ~ label,
  .form-group textarea:focus ~ label,
  .form-group textarea:not(:placeholder-shown) ~ label {
    font-size: 14px;
    top: -25px;
    color: #666;
  }
  
  button[type="submit"] {
    background-color: #333;
    border: none;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 20px;
    transition: all 0.2s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #444;
  }

@media only screen and (max-width: 768px) {
  .form-container {
    max-width: 80%;
    padding: 20px;
    padding: 5px;
  }
}

@media only screen and (max-width: 480px) {
  .form-container {
    max-width: 60%;
    padding: 10px;
  }
}

/* Adjust the media queries as needed */

  